# Decision System

Dataset loading - Extraction

In [4]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np
  
# Fetch dataset from UCI repo
statlog_german_credit_data = fetch_ucirepo(id=144) 
  
# Split into features and target
X = statlog_german_credit_data.data.features 
y = statlog_german_credit_data.data.targets 
  
# Metadata 
print(statlog_german_credit_data.metadata) 
  
# Variable information 
print(statlog_german_credit_data.variables) 

# Rename columns for better understanding
X = X.rename(columns={
    # Categorical features
    'Attribute1': 'checking_account_status',
    'Attribute3': 'credit_history',
    'Attribute4': 'purpose',
    'Attribute6': 'savings_account',
    'Attribute7': 'employment_since',
    'Attribute9': 'personal_status_sex',
    'Attribute10': 'other_debtors',
    'Attribute12': 'property',
    'Attribute14': 'other_installment_plans',
    'Attribute15': 'housing',
    'Attribute17': 'job',
    'Attribute19': 'telephone',
    'Attribute20': 'foreign_worker',
    
    # Numerical features
    'Attribute2': 'duration_months',
    'Attribute5': 'credit_amount',
    'Attribute8': 'installment_rate',
    'Attribute11': 'residence_since',
    'Attribute13': 'age',
    'Attribute16': 'num_existing_credits',
    'Attribute18': 'num_dependents'
})

X.head()

{'uci_id': 144, 'name': 'Statlog (German Credit Data)', 'repository_url': 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data', 'data_url': 'https://archive.ics.uci.edu/static/public/144/data.csv', 'abstract': 'This dataset classifies people described by a set of attributes as good or bad credit risks. Comes in two formats (one all numeric). Also comes with a cost matrix', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1000, 'num_features': 20, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Other', 'Marital Status', 'Age', 'Occupation'], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1994, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5NC77', 'creators': ['Hans Hofmann'], 'intro_paper': None, 'additional_info': {'summary': 'Two datasets are provided.  the original dataset, in the form provided by Prof. Hofmann, contains categorical/symbolic attributes and is in the file "german.data".   \r\n \r\nFor algorithms that need numerical attributes, Strathclyde University produced the file "german.data-numeric".  This file has been edited and several indicator variables added to make it suitable for algorithms which cannot cope with categorical variables.   Several attributes that are ordered categorical (such as attribute 17) have been coded as integer.    This was the form used by StatLog.\r\n\r\nThis dataset requires use of a cost matrix (see below)\r\n\r\n ..... 1        2\r\n----------------------------\r\n  1   0        1\r\n-----------------------\r\n  2   5        0\r\n\r\n(1 = Good,  2 = Bad)\r\n\r\nThe rows represent the actual classification and the columns the predicted classification.\r\n\r\nIt is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Attribute 1:  (qualitative)      \r\n Status of existing checking account\r\n             A11 :      ... <    0 DM\r\n\t       A12 : 0 <= ... <  200 DM\r\n\t       A13 :      ... >= 200 DM / salary assignments for at least 1 year\r\n               A14 : no checking account\r\n\r\nAttribute 2:  (numerical)\r\n\t      Duration in month\r\n\r\nAttribute 3:  (qualitative)\r\n\t      Credit history\r\n\t      A30 : no credits taken/ all credits paid back duly\r\n              A31 : all credits at this bank paid back duly\r\n\t      A32 : existing credits paid back duly till now\r\n              A33 : delay in paying off in the past\r\n\t      A34 : critical account/  other credits existing (not at this bank)\r\n\r\nAttribute 4:  (qualitative)\r\n\t      Purpose\r\n\t      A40 : car (new)\r\n\t      A41 : car (used)\r\n\t      A42 : furniture/equipment\r\n\t      A43 : radio/television\r\n\t      A44 : domestic appliances\r\n\t      A45 : repairs\r\n\t      A46 : education\r\n\t      A47 : (vacation - does not exist?)\r\n\t      A48 : retraining\r\n\t      A49 : business\r\n\t      A410 : others\r\n\r\nAttribute 5:  (numerical)\r\n\t      Credit amount\r\n\r\nAttibute 6:  (qualitative)\r\n\t      Savings account/bonds\r\n\t      A61 :          ... <  100 DM\r\n\t      A62 :   100 <= ... <  500 DM\r\n\t      A63 :   500 <= ... < 1000 DM\r\n\t      A64 :          .. >= 1000 DM\r\n              A65 :   unknown/ no savings account\r\n\r\nAttribute 7:  (qualitative)\r\n\t      Present employment since\r\n\t      A71 : unemployed\r\n\t      A72 :       ... < 1 year\r\n\t      A73 : 1  <= ... < 4 years  \r\n\t      A74 : 4  <= ... < 7 years\r\n\t      A75 :       .. >= 7 years\r\n\r\nAttribute 8:  (numerical)\r\n\t      Installment rate in percentage of disposable income\r\n\r\nAttribute 9:  (qualitative)\r\n\t      Personal status and sex\r\n\t      A91 : male   : divorced/separated\r\n\t      A92 : female : divorced/separated/married\r\n              A93 : male   : single\r\n\t      A94 : male   : married/widowed\r\n\t      A95 : female : single\r\n\r\nAttribute 10: (qualitative)\r\n\t      Other debtors / guarantors\r\n\t      A101 : none\r\n\t      A102 : co-applicant\r\n\t      A103 : guarantor\r\n\r\nAttribute 11: (numerical)\r\n\t      Present residence since\r\n\r\nAttribute 12: (qualitative)\r\n\t      Property\r\n\t      A121 : real estate\r\n\t      A122 : if not A121 : building society savings agreement/ life insurance\r\n              A123 : if not A121/A122 : car or other, not in attribute 6\r\n\t      A124 : unknown / no property\r\n\r\nAttribute 13: (numerical)\r\n\t      Age in years\r\n\r\nAttribute 14: (qualitative)\r\n\t      Other installment plans \r\n\t      A141 : bank\r\n\t      A142 : stores\r\n\t      A143 : none\r\n\r\nAttribute 15: (qualitative)\r\n\t      Housing\r\n\t      A151 : rent\r\n\t      A152 : own\r\n\t      A153 : for free\r\n\r\nAttribute 16: (numerical)\r\n              Number of existing credits at this bank\r\n\r\nAttribute 17: (qualitative)\r\n\t      Job\r\n\t      A171 : unemployed/ unskilled  - non-resident\r\n\t      A172 : unskilled - resident\r\n\t      A173 : skilled employee / official\r\n\t      A174 : management/ self-employed/\r\n\t\t     highly qualified employee/ officer\r\n\r\nAttribute 18: (numerical)\r\n\t      Number of people being liable to provide maintenance for\r\n\r\nAttribute 19: (qualitative)\r\n\t      Telephone\r\n\t      A191 : none\r\n\t      A192 : yes, registered under the customers name\r\n\r\nAttribute 20: (qualitative)\r\n\t      foreign worker\r\n\t      A201 : yes\r\n\t      A202 : no\r\n', 'citation': None}}
           name     role         type     demographic  \
0    Attribute1  Feature  Categorical            None
1    Attribute2  Feature      Integer            None
2    Attribute3  Feature  Categorical            None
3    Attribute4  Feature  Categorical            None
4    Attribute5  Feature      Integer            None
5    Attribute6  Feature  Categorical            None
6    Attribute7  Feature  Categorical           Other
7    Attribute8  Feature      Integer            None
8    Attribute9  Feature  Categorical  Marital Status
9   Attribute10  Feature  Categorical            None
10  Attribute11  Feature      Integer            None
11  Attribute12  Feature  Categorical            None
12  Attribute13  Feature      Integer             Age
13  Attribute14  Feature  Categorical            None
14  Attribute15  Feature  Categorical           Other
15  Attribute16  Feature      Integer            None
16  Attribute17  Feature  Categorical      Occupation
17  Attribute18  Feature      Integer            None
18  Attribute19  Feature       Binary            None
19  Attribute20  Feature       Binary           Other
20        class   Target       Binary            None

                                          description   units missing_values
0                 Status of existing checking account    None             no
1                                            Duration  months             no
2                                      Credit history    None             no
3                                             Purpose    None             no
4                                       Credit amount    None             no
5                               Savings account/bonds    None             no
6                            Present employment since    None             no
7   Installment rate in percentage of disposable i...    None             no
8                             Personal status and sex    None             no
9                          Other debtors / guarantors    None             no
10                            Present residence since    None             no
11                                           Property    None             no
12                                                Age   years             no
13                            Other installment plans    None             no
14                                            Housing    None             no
15            Number of existing credits at this bank    None             no
16                                                Job    None             no
17  Number of people being liable to provide maint...    None             no
18                                          Telephone    None             no
19                                     foreign worker    None             no
20                                  1 = Good, 2 = Bad    None             no

,checking_account_status,duration_months,credit_history,purpose,credit_amount,savings_account,employment_since,installment_rate,personal_status_sex,other_debtors,residence_since,property,age,other_installment_plans,housing,num_existing_credits,job,num_dependents,telephone,foreign_worker
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201

Data Preprocessing - Transformation

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

# Feature identification
categorical_features = X.select_dtypes(include = ['object']).columns.tolist()
print(categorical_features)
numerical_features = X.select_dtypes(include = ['int64']).columns.tolist()
print(numerical_features)

# Data Preprocessing
preprocessor_scaled = ColumnTransformer( # Scaling needed for logistic regression
	transformers = [
		('num', StandardScaler(), numerical_features), # Scale num features
		('cat', OneHotEncoder(drop = 'first', handle_unknown = 'ignore'), categorical_features), # OneHotEncode cat features. Handle unknown to make sure pipeline doesnt work on any unseen cat with new data
	]
)

preprocessor_passthrough = ColumnTransformer( # No need for scaling in RandomForest
	transformers = [
		('num', 'passthrough', numerical_features), # Passthrough direct values
		('cat', OneHotEncoder(drop = 'first', handle_unknown = 'ignore'), categorical_features) # OneHotEncoding still needed
	]
)

# Data Ingestion onto Model
pipelines = {
	'log_reg': Pipeline ([('prep', preprocessor_scaled), ('model', LogisticRegression(max_iter = 1000))]),
	'rf': Pipeline([('prep', preprocessor_passthrough), ('model', RandomForestClassifier(random_state = 42))])
}

['checking_account_status', 'credit_history', 'purpose', 'savings_account', 'employment_since', 'personal_status_sex', 'other_debtors', 'property', 'other_installment_plans', 'housing', 'job', 'telephone', 'foreign_worker']
['duration_months', 'credit_amount', 'installment_rate', 'residence_since', 'age', 'num_existing_credits', 'num_dependents']

Model Evaluation

In [6]:
from sklearn.metrics import roc_auc_score, classification_report

# Reshaping y
y = y.values.ravel() # y is a 2D array, scikit-learn expects a 1D array.
y = y - 1  # Because we convert values from (2 -> 1, 1 -> 0)

# Check class distribution
print('Class distribution (imbalanced dataset):')
print(np.unique(y, return_counts = True))

# Split data with transformed y
X_train, X_test, y_train, y_test = train_test_split(
	X, y,
	test_size = 0.2, # 0.8 train, 0.2 test
	random_state = 42, # Random seed of 42
	stratify = y # 70/30 ratio of imbalanced data is maintained in both train and test sets
)

# Model evaluation with transformed target
for name, pipe in pipelines.items():
	pipe.fit(X_train, y_train)
	proba = pipe.predict_proba(X_test)[:, 1] # Get probability of default. [:, 1] because we are only interested in default, instead of no default [:, 0]
	pred = (proba >= 0.5).astype(int) # Converts array of predicted probabilities from Boolean into 0/1. needed for the classification report
	print(name, f'AUC: {roc_auc_score(y_test, proba):.3f}') # AUC measures how well model separates defaulters vs no-defaulters across all possible thresholds
	print(classification_report(y_test, pred, zero_division = 0)) # We test on y_test as this is the unseen target data

Class distribution (imbalanced dataset):
(array([0, 1]), array([700, 300]))

NameError: name 'train_test_split' is not defined

Applied business rules with risk score

,checking_account_status,duration_months,credit_history,purpose,credit_amount,savings_account,employment_since,installment_rate,personal_status_sex,other_debtors,residence_since,property,age,other_installment_plans,housing,num_existing_credits,job,num_dependents,telephone,foreign_worker
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201

Combination of weighted risk scores with model output

Evaluation and Monitoring of Credit Decision System